{% extends 'base.html' %}

{% block content %}
{% for product in orders_data %}
<div class="container bg-info-subtle rounded mb-3">
    <h3><b>{{ product.name }}</b></h3>
    <p>Количество: {{ product.amount }}</p>
    <p>Описание: {{ product.description }}</p>
    <p>Цена: {{ product.price * product.amount }} ₽</p>
</div>
{% endfor %}
<div class="container bg-info-subtle rounded py-3">
    <div class="row">
        <div class="column col-lg-8 col-sm-6">
            <p class="m-0">Суммарная стоимость: {{ sum_price }} ₽</p>
        </div>
        <div class="column col-lg-4 col-sm-6 text-center">
            <form method="post">
                <button class="btn btn-success">Купить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}