.body {
    font-size: 1.25rem;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1
}

.footer {
    width: 100%;
}

.img {
    max-width: 200px;
    max-height: 400px;
}