{% extends 'base.html' %}

{% block content %}
<h2 class="mb-3">Авторизация</h2>
<form method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1">Логин</label>
    <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1">Пароль</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" name="remember_me">
    <label class="form-check-label" for="exampleCheck1">Запомнить меня</label>
  </div>
  <button type="submit" class="btn btn-primary">Войти</button>
</form>
<a class="btn btn-info mt-4" href="{{ url_for('users.reg') }}">Регистрация</a>
{% if error %}
<span>{{ error }}</span>
{% endif %}
{% endblock %}